body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: white;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  margin: 0;
}

.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
}

.form {
  padding: 12px;
  border-radius: 12px;
  background-color: rgb(20, 20, 20);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  width: 150px;
  margin-top: 20px;
}

input {
  border: 2px solid rgb(50, 50, 50);
  border-radius: 8px;
  padding: 8px;
  font-size: 18px;
  background-color: transparent;
  outline: none;
  margin: 4px;
  color: white;
  width: 300px;
}

input:focus {
  border: 2px solid rgb(255, 166, 0);
}

button {
  background-color: rgb(209, 136, 0);
  border: 2px solid rgb(170, 111, 0);
  border-radius: 8px;
  padding: 8px;
  font-size: 18px;
  outline: none;
  color: black;
  cursor: pointer;
  margin: 4px;
  width: 316px;
}

button:hover {
  background-color: rgb(230, 149, 0);
}

button:disabled {
  background-color: rgb(60, 60, 60);
  border: 2px solid rgb(50, 50, 50);
  color: gray;
}

a {
  color: rgb(0, 119, 255);
  text-decoration: none;
  cursor: pointer;
}

p {
  color: white;
  margin: 0;
}

hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.error {
  color: red;
  font-weight: 700px;
  width: 316px;
}

.info {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  color: white;
}

/*
  radio buttons and checkboxes (taken straight from styles.css)
*/
radio, checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  font-size: 18px;
  margin: 4px 0;
}

radio::before, checkbox::before {
  content: "";
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border: 3px solid rgb(168, 168, 168);
  border-radius: 50%;
}

checkbox::before {
  border-radius: 4px;
}

radio.checked::before, checkbox.checked::before {
  border: 3px solid rgb(255, 166, 0);
}

radio p::before, checkbox p::before {
  content: "";
  position: absolute;
  left: 15px;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background-color: rgb(168, 168, 168);
  transform: translate(-50%, 7px);
  animation: radioPopOut 100ms;
  animation-fill-mode: forwards;
}

radio p::before {
  border-radius: 50%;
}

radio.checked p::before, checkbox.checked p::before {
  background-color: rgb(255, 166, 0);
  animation: radioPopIn 450ms;
}

radio p, checkbox p {
  float: left;
  margin: 0;
  line-height: 30px;
}

@keyframes radioPopIn {
  0% {
    transform: translate(-50%, 7px) scale(0);
  }
  60% {
    transform: translate(-50%, 7px) scale(1.2);
  }
  100% {
    transform: translate(-50%, 7px) scale(1);
  }
}

@keyframes radioPopOut {
  0% {
    transform: translate(-50%, 7px) scale(1);
  }
  100% {
    transform: translate(-50%, 7px) scale(0);
  }
}