body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: rgb(20, 20, 20);
}

.form {
  padding: 12px;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type=text] {
  border: 2px solid rgb(50, 50, 50);
  border-radius: 8px;
  padding: 8px;
  font-size: 18px;
  background-color: transparent;
  outline: none;
  margin: 4px;
  color: white;
  width: 300px;
}

input[type=text]:focus {
  border: 2px solid rgb(255, 0, 149);
}

button {
  background-color: rgb(209, 0, 122);
  border: 2px solid rgb(173, 0, 101);
  border-radius: 8px;
  padding: 8px;
  font-size: 18px;
  outline: none;
  color: white;
  cursor: pointer;
  margin: 4px;
  width: 316px;
}

button:hover {
  background-color: rgb(255, 0, 149);
}

button:disabled {
  background-color: rgb(60, 60, 60);
  border: 2px solid rgb(50, 50, 50);
  color: gray;
}

a {
  color: rgb(0, 119, 255);
  text-decoration: none;
  cursor: pointer;
}

.error {
  color: red;
  font-weight: 700px;
  width: 316px;
}

h1, label {
  color: white;
}