/*
  android icons
*/
@font-face {
  font-family: icons;
  src: url("./res/gicons.ttf");
}

@font-face {
  font-family: iconsfill;
  src: url("./res/giconsfill.ttf");
}

.androidIcon {
  font-family: icons;
}

.androidIconFill {
  font-family: iconsfill;
}

/*
  page css
*/
body, html {
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(19, 23, 27);
}
/* center and limited size */
.postContainer, .previewContainer {
  width: 600px;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.post {
  margin: 8px 0;
  background-color: rgb(23, 27, 32);
  border: 1px solid rgb(31, 36, 43);
  border-radius: 12px;
}
/* alert/error */
.alert, .fadingAlert, .error, .fadingError {
  width: 100%;
  max-width: 800px;
  color: white;
  margin: 0;
  padding: 12px;
  position: fixed;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  border-radius: 4px;
}

.alert, .fadingAlert {
  background-color: rgb(31, 36, 43);
}

.error .fadingError {
  background-color: rgb(255, 0, 0);
}

.error, .alert {
  animation: fadeIn 150ms;
}

.fadingError, .fadingAlert {
  animation: fadeOut 150ms;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-50%) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) scale(0.9);
  }
}

/*
  radio buttons and checkboxes
*/
radio {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

radio::before {
  content: "";
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border: 3px solid rgb(168, 168, 168);
  border-radius: 50%;
}

radio.checked::before {
  border: 3px solid rgb(255, 166, 0);
}

radio p::before {
  content: "";
  position: absolute;
  left: 15px;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background-color: rgb(168, 168, 168);
  transform: translate(-50%, 7px);
  border-radius: 50%;
  animation: radioPopOut 100ms;
  animation-fill-mode: forwards;
}

radio.checked p::before {
  background-color: rgb(255, 166, 0);
  animation: radioPopIn 450ms;
}

radio p {
  float: left;
  margin: 0;
  line-height: 30px;
}

@keyframes radioPopIn {
  0% {
    transform: translate(-50%, 7px) scale(0);
  }
  60% {
    transform: translate(-50%, 7px) scale(1.25);
  }
  100% {
    transform: translate(-50%, 7px) scale(1);
  }
}

@keyframes radioPopOut {
  0% {
    transform: translate(-50%, 7px) scale(1);
  }
  100% {
    transform: translate(-50%, 7px) scale(0);
  }
}

/*
  html header
*/
.htmlHeader {
  background-color: rgb(42, 48, 54);
  padding: 20px;
  display: inline-block;
  width: calc(100% - 40px);
  user-select: none;
  position: fixed;
}

.htmlBack {
  font-size: 28px;
  margin: 0;
  margin-left: calc(50% - 396px); /* 300px is half of the postContainer width + 20px for good padding + 28px of this width + 8px of post margin */
  float: left;
  line-height: 28px;
  cursor: pointer;
}

.htmlText {
  font-size: 28px;
  margin: 0;
  margin-left: 68px;
  float: left;
  line-height: 28px;
}

.htmlHasHeader {
  margin-top: 68px;
}

/*
  post head
*/
.postHead {
  width: calc(100% - 16px);
  padding: 8px;
  user-select: none;
  column-count: 2;
}

.postHead .profilePic {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 8px;
  border-radius: 12px;
  object-fit: cover;
  cursor: pointer;
}

.postHead .profileName {
  font-size: 26px;
  margin: 0;
  line-height: 30px;
  cursor: pointer;
}

.postHead .profileCats {
  font-size: 16px;
  margin: 0;
  line-height: 20px;
  color: rgb(168, 168, 168);
  cursor: pointer;
}

.postHead .profileRight {
  text-align: right;
}

.postHead .postTime {
  display: inline-block;
  margin: 0;
  margin-right: 4px;
  line-height: 50px;
  color: rgb(168, 168, 168);
}

.postHead .postMore {
  display: inline-block;
  margin: 0;
  color: rgb(168, 168, 168);
  line-height: 50px;
  cursor: pointer;
}

/*
  post body
*/
.postBody {
  padding: 8px;
}

.postBody .storyPost.postTitle {
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  margin: 0;
}

.postBody .postContent {
  margin: 0;
}

.postBody .storyPostMore {
  color: rgb(0, 162, 255);
  cursor: pointer;
  user-select: none;
  margin: 0;
  margin-left: 8px;
}

.postBody .mediaPost.postTitle {
  text-align: center;
  margin: 2px;
}
/* add black bars to pic */
.postMediaContainer {
  float: none;
  padding: 0;
  background: black;
  display: table;
  width: calc(100% + 16px);
  transform: translateX(-8px);
}

.postMediaContainer .postMedia {
  display: block;
  max-height: 70vh;
  max-width: 100%;
  margin: auto;
}

.postArtist {
  font-size: 16px;
  margin: 0;
  color: rgb(168, 168, 168);
}

.postDescLabel {
  font-size: 16px;
  margin: 0;
  color: rgb(104, 104, 104);
}

.postDescription {
  margin: 0;
  color: rgb(168, 168, 168);
}

/*
  post foot
*/
.postFoot {
  padding: 0 8px;
  width: calc(100% - 16px);
  user-select: none;
}

.postFoot .postFavContainer, .postFoot .postComContainer {
  margin-right: 10%;
  display: inline-block;
  cursor: pointer;
}

.postFoot .postFavContainer .postFavorite {
  color: red;
}

.postFoot .postFavContainer .postFavorite, .postFoot .postFavContainer .postFavoriteCount, .postFoot .postComContainer .postComments, .postFoot .postComContainer .postCommentsCount {
  font-size: 28px;
  line-height: 28px;
  float: left;
  margin: 0 4px;
}

.postFoot .postFavContainer .postFavoriteCount, .postFoot .postComContainer .postCommentsCount {
  font-size: 20px;
}

.postFoot .postShare {
  margin: 0;
  display: inline-block;
  font-size: 28px;
  line-height: 28px;
  cursor: pointer;
  color: rgb(0, 162, 255);
  margin: 0 4px;
}

.postFoot .postReport {
  margin: 0;
  float: right;
  font-size: 28px;
  line-height: 28px;
  cursor: pointer;
  color: rgb(255, 0, 0);
  margin: 0 4px;
}

/* comment */
.comment {
  margin: 8px 0;
  border: 1px solid rgb(31, 36, 43);
  border-radius: 8px;
}
/*
  comment head
*/
.commentHead {
  display: inline-block;
  padding: 8px;
  user-select: none;
}

.commentHead .profilePic {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 8px;
  border-radius: 12px;
  object-fit: cover;
  cursor: pointer;
}

.commentHead .profileName {
  float: left;
  margin: 0;
  line-height: 40px;
  font-weight: 600;
  cursor: pointer;
}

.commentHead .commentSplitter {
  float: left;
  margin: 0 10px;
  color: rgb(207, 207, 207);
  line-height: 40px;
}

.commentHead .commentTime {
  margin: 0;
  float: left;
  line-height: 40px;
  color: rgb(168, 168, 168);
}

/*
  comment body
*/
.commentBody {
  padding: 0 16px;
}

.commentBody .commentMention {
  background-color: rgba(0, 132, 255, 0.25);
  width: fit-content;
  padding: 2px 5px;
  margin: 0;
  margin-right: 4px;
  border-radius: 4px;
  float: left;
}

.commentBody .commentText {
  margin: 0;
  line-height: 28px;
}

/*
  comment foot
*/
.commentFoot {
  display: inline-block;
  padding: 16px;
  user-select: none;
}

.commentFoot .commentLike {
  margin: 0;
  margin-right: 8px;
  float: left;
  font-size: 24px;
  cursor: pointer;
  color: rgb(255, 166, 0);
}

.commentFoot .commentLikeCount {
  margin: 0;
  float: left;
  line-height: 24px;
}

.commentFoot .commentShare {
  margin: 0;
  margin-left: 48px;
  float: left;
  font-size: 24px;
  cursor: pointer;
  color: rgb(0, 162, 255);
}

.commentFoot .commentReport {
  margin: 0;
  margin-left: 48px;
  float: left;
  font-size: 24px;
  cursor: pointer;
  color: rgb(255, 0, 0);
}

/*
  comment replies
*/
.commentRepliesContainer {
  margin-left: 1px;
  padding-left: 15px;
  border-left: 4px solid rgb(40, 48, 56);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.commentReplies {
  margin: 0;
  color: rgb(0, 162, 255);
  user-select: none;
  cursor: pointer;
}