/*
  android icons
*/
@font-face {
  font-family: icons;
  src: url("./res/gicons.ttf");
}

@font-face {
  font-family: iconsfill;
  src: url("./res/giconsfill.ttf");
}

.androidIcon {
  font-family: icons;
}

.androidIconFill {
  font-family: iconsfill;
}

/*
  page css
*/
body, html {
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(19, 23, 27);
}
/* center and limited size */
.postContainer, .previewContainer {
  width: 600px;/*1*/
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.post {
  margin: 8px 0;
  background-color: rgb(23, 27, 32);
  border: 1px solid rgb(31, 36, 43);
  border-radius: 12px;
}
/* alert/error */
.alert, .fadingAlert, .error, .fadingError {
  width: 100%;
  max-width: 800px;
  color: white;
  margin: 0;
  padding: 12px;
  position: fixed;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  border-radius: 4px;
}

.alert, .fadingAlert {
  background-color: rgb(31, 36, 43);
}

.error, .fadingError {
  background-color: rgb(255, 0, 0);
}

.error, .alert {
  animation: fadeIn 150ms;
}

.fadingError, .fadingAlert {
  animation: fadeOut 150ms;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-50%) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) scale(0.9);
  }
}

/*
  radio buttons and checkboxes
*/
radio, checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

radio::before, checkbox::before {
  content: "";
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border: 3px solid rgb(168, 168, 168);
  border-radius: 50%;
}

checkbox::before {
  border-radius: 4px;
}

radio.checked::before, checkbox.checked::before {
  border: 3px solid rgb(255, 166, 0);
}

radio p::before, checkbox p::before {
  content: "";
  position: absolute;
  left: 15px;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background-color: rgb(168, 168, 168);
  transform: translate(-50%, 7px);
  animation: radioPopOut 100ms;
  animation-fill-mode: forwards;
}

radio p::before {
  border-radius: 50%;
}

radio.checked p::before, checkbox.checked p::before {
  background-color: rgb(255, 166, 0);
  animation: radioPopIn 450ms;
}

radio p, checkbox p {
  float: left;
  margin: 0;
  line-height: 30px;
}

@keyframes radioPopIn {
  0% {
    transform: translate(-50%, 7px) scale(0);
  }
  60% {
    transform: translate(-50%, 7px) scale(1.2);
  }
  100% {
    transform: translate(-50%, 7px) scale(1);
  }
}

@keyframes radioPopOut {
  0% {
    transform: translate(-50%, 7px) scale(1);
  }
  100% {
    transform: translate(-50%, 7px) scale(0);
  }
}

/*
  inputs and buttons
*/
input[type=text], textarea {
  border: 2px solid rgb(50, 50, 50);
  border-radius: 8px;
  padding: 8px;
  font-size: 18px;
  background-color: transparent;
  outline: none;
  margin: 4px;
  color: white;
  width: 300px;
}

textarea {
  resize: vertical;
  font-family: Arial;
  max-height: 80vh;
  min-height: 21px;
}

input[type=text]:focus, textarea:focus {
  border: 2px solid rgb(255, 166, 0);
}

button {
  background-color: rgb(209, 136, 0);
  border: 2px solid rgb(170, 111, 0);
  border-radius: 8px;
  padding: 8px;
  font-size: 18px;
  outline: none;
  color: white;
  cursor: pointer;
  margin: 4px;
  width: 320px;
}

button:hover {
  background-color: rgb(230, 149, 0);
}

button:disabled {
  background-color: rgb(60, 60, 60);
  border: 2px solid rgb(50, 50, 50);
  color: gray;
}

/*
  html header
*/
.htmlHeader {
  background-color: rgb(42, 48, 54);
  padding: 20px;
  display: inline-block;
  width: calc(100% - 40px);
  user-select: none;
  position: fixed;
}

.htmlBack {
  font-size: 28px;
  margin: 0;
  margin-left: calc(50% - 96px - 300px);/*2*/ /* 300px is half of the postContainer width + 20px for good padding + 28px of this width + 8px of post margin */
  float: left;
  line-height: 28px;
  cursor: pointer;
}

.htmlText {
  font-size: 28px;
  margin: 0;
  margin-left: 68px;
  float: left;
  line-height: 28px;
}

.htmlHasHeader {
  margin-top: 68px;
  height: calc(100% - 68px);
}

/*
  html menu
*/
.htmlCover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.htmlMenu {
  position: absolute;
  background-color: rgb(23, 27, 32);
  border: 1px solid rgb(31, 36, 43);
  border-radius: 8px;
  padding: 2px;
}

.htmlMenuTitle {
  margin: 4px;
  font-size: 24px;
}

.htmlMenu .htmlMenuItem {
  margin: 2px;
  padding: 12px;
  cursor: pointer;
  border-radius: 8px;
}

.htmlMenu .htmlMenuItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/*
  html other
*/
.htmlSplitter {
  border: none;
  border-top: 1px solid rgb(31, 36, 43);
}

.htmlLink {
  color: rgb(0, 162, 255);
  margin: 0;
  display: inline;
  cursor: pointer;
}

/*
  app drawer
*/
.appDrawer {
  font-size: 22px;
  position: fixed;
  left: 0;
  top: 0;
  height: calc(100% - 64px);
  background-color: rgb(23, 27, 32);
  padding: 32px 3px;
  width: 300px;
}

.appDrawer.padding {
  top: 68px;
  height: calc(100% - 132px);
}

.appDrawer p {
  margin: 3px;
  padding: 8px;
  padding-left: 32px;
  cursor: pointer;
  border-radius: 4px;
}

.appDrawer p:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.appDrawer p.selected {
  background-color: rgb(209, 136, 0);
  color: black;
}

.appDrawer p.selected:hover {
  background-color: rgb(230, 149, 0);
}

.appDrawer .appDrawerLower {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 32px;
}

/*
  post head
*/
.postHead {
  width: calc(100% - 16px);
  padding: 8px;
  user-select: none;
  column-count: 2;
}

.postHead .profileLeft {
  width: calc(200% - 80px);
}

.postHead .profilePic, .aboutContributor .profilePic {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 8px;
  border-radius: 12px;
  object-fit: cover;
  cursor: pointer;
}

.postHead .profileName, .aboutContributor .profileName {
  font-size: 26px;
  margin: 0;
  line-height: 30px;
  cursor: pointer;
}

.postHead .profileCats, .aboutContributor .contributorRole {
  font-size: 16px;
  margin: 0;
  line-height: 20px;
  color: rgb(168, 168, 168);
  cursor: pointer;
}

.postHead .profileRight {
  text-align: right;
  width: 80px;
  float: right;
}

.postHead .postTime {
  display: inline-block;
  margin: 0;
  margin-right: 4px;
  line-height: 50px;
  color: rgb(168, 168, 168);
}

.postHead .postMore {
  display: inline-block;
  margin: 0;
  color: rgb(168, 168, 168);
  line-height: 50px;
  cursor: pointer;
}

/*
  post body
*/
.postBody {
  padding: 8px;
}

.postBody .storyPost.postTitle {
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  margin: 0;
}

.postBody .postContent {
  margin: 0;
}

.postBody .storyPostMore {
  color: rgb(0, 162, 255);
  cursor: pointer;
  user-select: none;
  margin: 0;
  margin-left: 8px;
}

.postBody .mediaPost.postTitle {
  text-align: center;
  margin: 2px;
}
/* add black bars to pic */
.postMediaContainer {
  float: none;
  padding: 0;
  background: black;
  display: table;
  width: calc(100% + 16px);
  transform: translateX(-8px);
}

.postMediaContainer .postMedia {
  display: block;
  max-height: 70vh;
  max-width: 100%;
  margin: auto;
}

.postArtist {
  font-size: 16px;
  margin: 0;
  color: rgb(168, 168, 168);
}

.postDescLabel {
  font-size: 16px;
  margin: 0;
  color: rgb(104, 104, 104);
}

.postDescription {
  margin: 0;
  color: rgb(168, 168, 168);
}

/*
  post foot
*/
.postFoot {
  padding: 0 8px;
  width: calc(100% - 16px);
  user-select: none;
}

.postFoot .postFavContainer, .postFoot .postComContainer {
  margin-right: 10%;
  display: inline-block;
  cursor: pointer;
}

.postFoot .postFavContainer .postFavorite {
  color: red;
}

.postFoot .postFavContainer .postFavorite, .postFoot .postFavContainer .postFavoriteCount, .postFoot .postComContainer .postComments, .postFoot .postComContainer .postCommentsCount {
  font-size: 28px;
  line-height: 28px;
  float: left;
  margin: 0 4px;
}

.postFoot .postFavContainer .postFavoriteCount, .postFoot .postComContainer .postCommentsCount {
  font-size: 20px;
}

.postFoot .postShare {
  margin: 0;
  display: inline-block;
  font-size: 28px;
  line-height: 28px;
  cursor: pointer;
  color: rgb(0, 162, 255);
  margin: 0 4px;
}

.postFoot .postReport {
  margin: 0;
  float: right;
  font-size: 28px;
  line-height: 28px;
  cursor: pointer;
  color: rgb(255, 0, 0);
  margin: 0 4px;
}

/* poll */
.postPoll {
  background-color: rgb(19, 23, 27);
  width: calc(100% - 16px);
  transform: translateX(-8px);
  border-radius: 12px;
  padding: 16px;
}

.postPoll .pollTitle {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 22px;
}

.postPoll .pollResult {
  float: right;
  margin: 0;
  line-height: 30px;
  color: rgb(168, 168, 168);
}

.postPoll .pollSubmit {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  font-size: 18px;
  border: none;
  color: white;
  background-color: rgb(42, 48, 54);
  margin-top: 10px;
  cursor: pointer;
  outline: none;
}

.postPoll .pollVotes {
  margin: 0;
  margin-top: 8px;
  color: rgb(168, 168, 168);
}

/* comment */
.commentsTitle {
  margin: 0;
  font-size: 24px;
}

.commentsNone {
  user-select: none;
  color: rgb(168, 168, 168);
  margin: 0;
}

.comment {
  margin: 8px 0;
  border: 1px solid rgb(31, 36, 43);
  border-radius: 8px;
}
/*
  comment head
*/
.commentHead {
  display: inline-block;
  padding: 8px;
  user-select: none;
}

.commentHead .profilePic {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 8px;
  border-radius: 12px;
  object-fit: cover;
  cursor: pointer;
}

.commentHead .profileName {
  float: left;
  margin: 0;
  line-height: 40px;
  font-weight: 600;
  cursor: pointer;
}

.commentHead .commentSplitter {
  float: left;
  margin: 0 10px;
  color: rgb(207, 207, 207);
  line-height: 40px;
}

.commentHead .commentTime {
  margin: 0;
  float: left;
  line-height: 40px;
  color: rgb(168, 168, 168);
}

/*
  comment body
*/
.commentBody {
  padding: 0 16px;
}

.commentBody .commentMention {
  background-color: rgba(0, 132, 255, 0.25);
  width: fit-content;
  padding: 2px 5px;
  margin: 0;
  margin-right: 4px;
  border-radius: 4px;
  float: left;
}

.commentBody .commentText {
  margin: 0;
  line-height: 28px;
}

/*
  comment foot
*/
.commentFoot {
  display: inline-block;
  padding: 16px;
  user-select: none;
}

.commentFoot .commentLike {
  margin: 0;
  margin-right: 8px;
  float: left;
  font-size: 24px;
  cursor: pointer;
  color: rgb(255, 166, 0);
}

.commentFoot .commentLikeCount {
  margin: 0;
  float: left;
  line-height: 24px;
}

.commentFoot .commentReply {
  margin: 0;
  margin-left: 48px;
  float: left;
  font-size: 24px;
  cursor: pointer;
  color: rgb(0, 162, 255);
}

.commentFoot .commentReport {
  margin: 0;
  margin-left: 48px;
  float: left;
  font-size: 24px;
  cursor: pointer;
  color: rgb(255, 0, 0);
}

/*
  comment replies
*/
.commentRepliesContainer {
  margin-left: 1px;
  padding-left: 15px;
  border-left: 4px solid rgb(40, 48, 56);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.commentReplies {
  margin: 0;
  color: rgb(0, 162, 255);
  user-select: none;
  cursor: pointer;
}

/* profile */
.pflBackground {
  width: 100%;
  height: 30%;
  object-fit: cover;
  --mask: linear-gradient(to bottom, rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 40%, rgba(0,0,0, 0) 100%, rgba(0,0,0, 0) 0) 100% 50% / 100% 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.pflIcon {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 180px;
  height: 180px;
  transform: translate(-50%, -75%);
  border-radius: 20%;
  object-fit: cover;
}

.pflRelative {
  position: absolute;
  top: calc(30% + 55px);
  width: 100%;
  height: calc(70% - 55px);
}

.pflRelative .pflUsername {
  margin: 0;
  margin-left: 50%;
  text-align: center;
  transform: translateX(-50%);
  font-size: 30px;
}

.pflRelative .pflQuickStats {
  column-count: 3;
  text-align: center;
  padding: 20px 0;
}

.pflRelative .pflStatCount {
  margin: 0;
  font-size: 30px;
}

.pflRelative .pflStat {
  margin: 0;
  color: rgb(168, 168, 168);
}

.pflRelative .pflInfo, .pflRelative .pflSince {
  margin: 0 8px;
  color: rgb(168, 168, 168);
  float: left;
  line-height: 24px;
}

/*
  notification
*/
.notification {
  background-color: rgb(31, 36, 43);
  padding: 5px;
  margin: 2px;
  border-radius: 8px;
  clear: both;
  cursor: pointer;
}
/* left */
.notification .notificationProfile {
  width: 70px;
  height: 70px;
  border-radius: 16px;
  object-fit: cover;
  float: left;
  user-select: none;
}

.notification .notificationFloat {
  display: inline-block;
  width: calc(100% - 280px); /* 100% - pfp width - 210px aka .notificationRight width */
}

.notification .notificationUsername {
  width: fit-content;
  user-select: none;
}

.notification .notificationUsername, .notification .notificationText {
  margin: 0;
  margin-left: 20px;
  font-size: 26px;
}

.notification .notificationText {
  color: rgb(168, 168, 168);
}
/* right */
.notification .notificationRight {
  float: right;
  position: relative;
}

.notification .notificationTime {
  position: absolute;
  right: 160px;
  line-height: 70px;
  color: rgb(168, 168, 168);
  user-select: none;
}

.notification .notificationPreview {
  width: 140px;
  height: 70px;
  float: right;
  border-radius: 12px;
  object-fit: cover;
  user-select: none;
}

/*
  about page
*/
.about a {
  color: rgb(255, 166, 0);
}

.aboutBigHeader, .aboutHeader {
  margin-bottom: 0;
  font-weight: 500;
}

.aboutHeader {
  font-size: 30px;
  font-weight: 400;
}

.aboutText {
  margin: 0;
}

.aboutLogo {
  width: 100px;
  height: 100px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.aboutCenter {
  text-align: center;
  margin: 0;
}

.aboutButton {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.aboutInfo {
  color: rgb(168, 168, 168);
  font-size: 16px;
}

.aboutTip {
  color: rgb(104, 104, 104);
  font-size: 12px;
}

.aboutContributor {
  margin: 10px;
}